<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <title>Sistema Integrado de R.H</title>
</head>

<body>
    {{#if error}}
    <div class="container mt-5" >
        <div class="alert alert-danger text-center mt-4"><h5>{{error}}</h5></div>
    </div>
        
    {{else}}
    {{/if}}
    {{#if user}}
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: #836FFF;">
        <div class="container">

            <a class="navbar-brand h1 mb-0" href='/colaborador/info/{{user.dataValues.id}}'>{{user.dataValues.nome}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav ml-auto">
                    {{#if gestor}}
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/homeGestor">Home</a>
                    </li>
                    {{else}}
                    {{#if colaborador}}
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/homeColaborador">Home</a>
                    </li>
                    {{else}}
                    {{#if instrutor}}
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/homeInstrutor">Home</a>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/if}}




                </ul>
                <ul class="navbar-nav ml-3">
                    <li class="nav-item">
                        <a class="nav-link text-white btn" data-toggle="modal" data-target="#modalSair">Sair</a>
                    </li>
                </ul>

            </div>

        </div>
        </div>
    </nav>

    <div class="modal fade" id="modalSair" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header colorViolet" style="background-color: #836FFF;">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Encerrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja sair do sistema?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a type="button" class="btn colorViolet text-white" href="/logout"
                        style="background-color: #836FFF;">Sair</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5"></div>
    <br />




    {{#if error_msg}}
    <div class="container  text-center mt-5">
        <div class="alert alert-danger">{{error_msg}}</div>
    </div>
    {{else}}
    {{/if}}


    {{#if success_msg}}
    <div class="container  text-center mt-5">
        <div class="alert alert-success text-center mt-5">{{success_msg}}</div>
    </div>
    {{else}}
    {{/if}}

    {{#if error}}
    <div class="container  text-center mt-5">
        <div class="alert alert-danger text-center mt-5">{{error}}</div>
    </div>

    {{else}}
    {{/if}}
    {{/if}}

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
    {{{_sections.script}}}

    


</body>


</html>