<div class="container mt-5">
    {{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>
    <br />
    {{else}}
    {{/each}}
    <div class="card mt-4">
        <div class="card-header colorViolet text-white" style="background-color: #836FFF;">
            <h3 class="text-center">Nova Agenda</h3>
        </div>
        <div class="card-body">
            <form action="/cadastrar/novaAgenda" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInputCurso">
                            <h5>Curso: </h5>
                        </label>
                        <select class="form-control" name="cursoId">
                            {{#each cursos}}
                            <option value="{{dataValues.id}}" {{selecionar dataValues.id ../cursoId}}>{{dataValues.nome}}</option>
                            {{else}}

                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="formGroupExampleInputInstrutor">
                            <h5>Instrutor: </h5>
                        </label>
                        <select class="form-control" name="instrutorId">
                            {{#each instrutores}}
                            <option value="{{dataValues.id}}" {{selecionar dataValues.id ../instrutorId}}>{{dataValues.colaborador.dataValues.nome}}</option>
                            {{else}}

                            {{/each}}
                        </select>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h5>Data de início: </h5>
                        <input type="datetime-local" name="dataInicio" min="2020-01-01T00:00" class="form-control" value="{{dataInicio2}}" required> 
                    </div>

                    <div class="form-group col-md-6">
                        <h5>Data de conclusão: </h5>
                        <input type="datetime-local" name="dataConclusao" min="2020-01-01T00:00" class="form-control" value="{{dataConclusao2}}" required>
                    </div>
                </div>

                <div class="form-group">
                    <h5>Local: </h5>
                    <input type="text" name="local" class="form-control" minlength="7" maxlength="20" required value="{{local}}">
                </div>

                <button type="submit" class="btn btn-primary mt-4">Cadastrar Agenda</button>

        </div>
        <input type="hidden" name="id" value="{{user.dataValues.id}}">

        </form>



    </div>
    <br/>
    <a href="/gerenciarAgenda" class="btn btn-primary" style="padding-left: 50px; padding-right: 50px">Voltar</a>
</div>
