<div class="container mt-5">
    {{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>
    <br />
    {{else}}
    {{/each}}

    <div class="card mt-4 mb-4">
        <div class="card-header colorViolet text-white" style="background-color: #836FFF;">
            <h3 class="text-center">Confira os dados do seu curso</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class=" "><b>Curso:</b> {{agenda.dataValues.curso.dataValues.nome}}</h5>
                </div>
                <div class="col-md-6">
                    <h5 class=" "><b>Local:</b> {{agenda.dataValues.local}}</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h5 class=" "><b>Instrutor:</b>
                        {{agenda.dataValues.instrutor.dataValues.colaborador.dataValues.nome}}</h5>
                </div>
                <div class="col-md-6">
                    <h5 class=" "><b>Gestor:</b> {{agenda.dataValues.gestor.dataValues.colaborador.dataValues.nome}}
                    </h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h5 class=" "><b>Data de início:</b>
                        {{formatDateHorario agenda.dataValues.dataInicio}}</h5>
                </div>
                <div class="col-md-6">
                    <h5 class=" "><b>Data final:</b> {{formatDateHorario agenda.dataValues.dataFinal}}
                    </h5>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h5><b>Descrição do seu curso:</b></h5>
                    <p style="font-size: 17px;  text-align: justify;">{{agenda.dataValues.curso.dataValues.descricao}}
                    </p>
                </div>
            </div>
        </div>
       
    </div>
    <div >
            <a href="/visualizarCursoEmAndamento" class="btn btn-primary" style="padding-left:50px; padding-right:50px">Voltar</a>
    </div>

</div>