<div class="container mt-4">

    <div class="card mt-5">
        <div class="card-header" style="background-color: #836FFF;">
            <h4 class="text-center text-white">Descrição do Colaborador</h4>
        </div>
        <div class="card-body">
            <div class="row mt-4">
                <div class="col-md-4">
                    <h5 class="card-title"><b>Nome</b>: {{colaborador.dataValues.nome}}</h5>
                </div>
                <div class="col-md-4">
                    <h5><b>Cargo</b>: {{colaborador.dataValues.cargo.dataValues.nome}}</h5>
                </div>
                <div class="col-md-4">
                    <h5><b>Setor</b>: {{colaborador.dataValues.setor.dataValues.nome}}</h5>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-8">
                    <h5 class="card-title"><b>E-mail</b>: {{colaborador.dataValues.email}}</h5>
                </div>

                <div class="col-md-4">
                    <h5 class="card-title"><b>Matricula</b>: {{colaborador.dataValues.matricula}}</h5>
                </div>

                <div class="col text-center">
                </div>

            </div>
            <br />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />