<div class="container mt-5 mb-5">
    {{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>
    <br />
    {{else}}
    {{/each}}

    <div class="card mt-4">
        <div class="card-header colorViolet text-white" style="background-color: #836FFF;">
            <h3 class="text-center">Frequência dos Colaboradores: {{curso.[0].nome}} </h3>
        </div>
        <div class="card-body">

            <div class="">
                <form action="/editarFrequencia/{{presencas.[0].agendaCursoId}}" method="POST">
                    <input type="hidden" value="{{presencas.[0].agendaCursoId}}" name="agendaId" id="agendaId">
                    <input type="hidden" value="{{curso.[0].nome}}" name="curso">
                    <input type="hidden" value="{{curso.[0].cargaHoraria}}" name="cargaHoraria">
                    <div class="row mt-5 text-center">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-3 mt-1">
                                    <h5><b>Aulas:</b></h5>
                                </div>
                                <input type="hidden" name="horaAulas" value="{{presencas.[0].horaAula}}">
                                <div class="col-md-6">
                                    <select class="form-control" name="horaAula" id="horaAula" disabled>
                                        <option value="1" {{selecionar presencas.[0].horaAula 1}}>1</option>
                                        <option value="2" {{selecionar presencas.[0].horaAula 2}}>2</option>
                                        <option value="3" {{selecionar presencas.[0].horaAula 3}}>3</option>
                                        <option value="4" {{selecionar presencas.[0].horaAula 4}}>4</option>
                                        <option value="5" {{selecionar presencas.[0].horaAula 5}}>5</option>
                                        <option value="6" {{selecionar presencas.[0].horaAula 6}}>6</option>
                                        <option value="7" {{selecionar presencas.[0].horaAula 7}}>7</option>
                                        <option value="8" {{selecionar presencas.[0].horaAula 8}}>8</option>
                                        <option value="9" {{selecionar presencas.[0].horaAula 9}}>9</option>
                                        <option value="10" {{selecionar presencas.[0].horaAula 10}}>10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt-1">
                            <h5><b>Data Frequência:</b></h5>
                        </div>


                        <div class="input-group date col-md-3" data-provide="datepicker" id="calendario">
                            <input type="text" name="dataFrequencia" class="form-control"
                                value="{{formatoDataFrequencia presencas.[0].dataFrequencia}}" disabled>

                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <h4 style="color: #836FFF;" class="text-center"><b>Listagem de Alunos</b></h4>
        <div class="container">
            <div class="card-body " style="overflow: auto; width: 100%; height: 330px; ">

                {{#each presencas}}
                <hr style="color:#836FFF; background-color: #836FFF;">
                <div class="mt-1">
                    <input type="hidden" name="frequenciaId" value="{{frequenciaId}}">
                    <h5><b>{{nome}} </b></h5>
                    <input type="hidden" value="{{agendaCursoColaboradorId}}" name="agendaCursoColaboradorId">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <h6 class=" ">Presença:</h6>
                            <input type="number" class="form-control" name="presenca" min="0" max="10"
                                required="required" value={{presenca}}>
                        </div>
                        <div class="col-md-6">
                            <h6 class=" ">Observação:</h6>
                            <input type="text" class="form-control" name="observacao" value="{{observacao}}">
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary text-center mt-5"
                style="padding-left: 60px; padding-right:60px;">Confirmar</button>
        </div>
    </div>
    <br>
    </form>
</div>

</div>
</div>

</div>