<div class="container mt-5">
    {{#each erros}}
    <div class="alert alert-danger"> {{texto}} </div>
    <br />
    {{else}}
    {{/each}}

    <div class="card mt-4">
        <div class="card-header colorViolet text-white" style="background-color: #836FFF;">
            <h3 class="text-center">Aluno {{avaliacao.nome}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class=" "><b>Curso:</b> {{curso.nome}}</h5>

                </div>
                <div class="col-md-6">
                    <h5 class=" "><b>Local:</b> {{curso.local}}</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h5 class=" "><b>Data de início:</b>
                        {{formatDate curso.dataInicio}}</h5>
                </div>
                <div class="col-md-6">
                    <h5 class=" "><b>Data final:</b> {{formatDate curso.dataFinal}}
                    </h5>
                </div>
            </div>

        </div>
        <div class="mt-4">
            <form action="/atualizarAvaliacao/" method="POST">
                <div class="card-body " style="overflow: auto; width: 100%; height: 250px; ">
                    <h4 style="color: #836FFF;" class="text-center"><b>Avaliação de Alunos</b></h4>
                    <input type="hidden" name="idAvaliacao" id="idAgenda" value="{{avaliacao.avaliacaoCursoId}}">
                    <input type="hidden" name="idAgendaCurso" id="idAgendaCurso" value="{{curso.agendaCursoId}}">
                    <hr style="color:#836FFF; background-color: #836FFF;">
                   
                    <div class="row ">
                        <div class="col-md-2">
                            <b>Nota:</b> <input type="number" value="{{avaliacao.nota}}" name="nota"
                                class="form-control md-3" step="0.01" min="0" max="10" required>
                        </div>
                        <div class="col-md-4">
                            <b>Observação:</b> <input type="text" name="observacao" value="{{avaliacao.observacao}}"
                                class="form-control" maxlength="100">
                        </div>
                        <div class="col-md-3 text-center mt-4">
                            <b>Presença: </b>{{avaliacao.porcentagem}}%
                        </div>
                        <div class="col-md-3 mt-4">
                            {{#ifCond avaliacao.situacao '==' 'Aprovado'}}
                            <p><b>Situação:</b> <span class="text-primary">{{avaliacao.situacao}} <b>Aprovado</b></span>
                            </p>
                            {{else}}
                            <p><b>Situação:</b> <span class="text-danger">{{avaliacao.situacao}} <b>Reprovado</b></span>
                            </p>
                            {{/ifCond}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-center mt-4"
                        style="padding-left: 60px; padding-right:60px;">Confirmar</button>

                </div>
                <div class="container">

                </div>


            </form>


        </div>


    </div>
    <br />
    <a href="/historico/agenda/{{avaliacao.agendaCursoId}}" class="btn btn-primary" style="padding-left: 50px; padding-right: 50px;" >Voltar </a>
</div>